body {
  font-family: "Roboto", sans-serif;
}
#welcome-section {
  position: relative;
  text-align: center;
  color: white;
}
#services {
  position: relative;
  text-align: center;
  color: white;
}
#what-we-do{
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.portfolio-row{
  width:75%;
  margin: 0 auto;
}
.logo {
  margin-top: -30px;
  margin-bottom: -20px;
}
.welcome-message {
  text-transform: uppercase;
  font-size: 50px;
  padding-top: 50px;
}
.welcome-message-second-part {
  display: block !important;
}
.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-div-small-text {
  text-transform: uppercase;
  font-size: 14px;
}
#about-us {
  margin-top: 20px;
  margin-bottom: 20px;
}
.services-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services-body {
  margin-left: -90px;
  margin-right: -90px;
}
.section-title {
  text-transform: uppercase;
  font-size: 24px;
}
.section-body {
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 575.98px) {
  #carousel-click,
  .welcome-contents {
    visibility: hidden;
  }
  .logo {
    margin-top:180px;
  }
}

@media (max-width: 767.98px) {
  #carousel-click {
    visibility: hidden;
  }
  .welcome-message {
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 50px;
  }
  .top-div-small-text {
    text-transform: uppercase;
    font-size: 12px;
  }
}

@media (max-width: 797.98px) {
  .services-body{
    margin-left: -150px;
    margin-right: -150px;
    font-size: 12px;
  }
}


@media (max-width: 991.98px) {
  #carousel-click {
    visibility: hidden;
  }
  .welcome-message {
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 50px;
  }
  .top-div-small-text {
    text-transform: uppercase;
    font-size: 12px;
  }
}
