body {
  font-family: "Poppins", sans-serif;
}
#welcome-section {
  position: relative;
  text-align: center;
  color: white;
  flex-flow: column wrap;
  overflow: hidden;
}
#services {
  position: relative;
  text-align: center;
  color: white;
  flex-flow: column wrap;
  overflow: hidden;
}
#what-we-do {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  flex-flow: column wrap;
  overflow: hidden;
}
#contact {
  position: relative;
  color: white;
  flex-flow: column wrap;
  overflow: hidden;
}
#contact-form-wrapper {
  overflow-y: auto;
  height: 1000px;
}
.toast-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
}
.contact-contents {
  position: absolute;
  top: 0px;
  margin-top: 50px;
  width: 100%;
}
.portfolio-row {
  width: 75%;
  margin: 0 auto;
}
.portfolio-icon {
  position: relative;
}
.portfolio-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 95%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0, 0.8);
}
.portfolio-text-wrapper {
  border: 3px solid;
  width: 75%;
  height: 75%;
  margin-top: 10%;
  margin-left: 10%;
  padding: 5px;
}
.logo {
  margin-top: -30px;
  margin-bottom: -20px;
}
.welcome-message {
  text-transform: uppercase;
  font-size: 50px;
  padding-top: 50px;
}
.welcome-message-second-part {
  display: block !important;
}
.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-div-small-text {
  text-transform: uppercase;
  font-size: 14px;
}
#about-us {
  margin-top: 20px;
  margin-bottom: 20px;
}
.services-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services-body {
  margin-left: -90px;
  margin-right: -90px;
  overflow-y: scroll;
  height: 200px;
}
.section-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}
.section-body {
  margin-left: 5px;
  margin-right: 5px;
}

.form-control::placeholder {
  color: white;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: white;
}

.form-control::-ms-input-placeholder {
  color: white;
}
@media (max-width: 575.98px) {
  #carousel-click,
  .welcome-contents {
    visibility: hidden;
  }
  .logo {
    margin-top: 180px;
  }
}

@media (max-width: 767.98px) {
  #carousel-click {
    visibility: hidden;
  }
  .welcome-message {
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 50px;
  }
  .top-div-small-text {
    text-transform: uppercase;
    font-size: 12px;
  }
}

@media (max-width: 797.98px) {
  .services-body {
    margin-left: -150px;
    margin-right: -150px;
    font-size: 12px;
  }
}

@media (max-width: 991.98px) {
  #carousel-click {
    visibility: hidden;
  }
  .welcome-message {
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 50px;
  }
  .top-div-small-text {
    text-transform: uppercase;
    font-size: 12px;
  }
}
